@using Entity.Concrete
@model List<Category>


@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Durum</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td>@category.Status</td>
        </tr>
    }
</table>
<br/>
<a href="/Category/AddCategory" class="btn btn-info">Kategori Ekle</a>
