@using Entity.Concrete
@model List<Category>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <th>@category.CategoryId</th>
            <td>@category.CategoryName</td>
            <td><a href="/AdminCategory/Delete/@category.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminCategory/Edit/@category.CategoryId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-primary">Başıklar</a></td>
        </tr>
    }
</table>
<a href="/AdminCategory/Add" class="btn btn-info">Kategori Ekle</a>

